*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Varela Round", sans-serif;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    /* background-color: blue; */
}

.detailsBox{
    margin-top: 10px;
    width:60%;
    /* background-color: yellow; */
}

.imageBox{
    width: 80%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    /* background-color: green; */
}

.imageBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2{
    text-align: left;
    width: 60%;
}

.btns{
    display: flex;
    width: 100%;
}

.editBtn, .dltBtn{
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    padding: 8px 13px;
    font-size: 18px;
    color: white;
}

.editBtn{
    background-color: green;

}

.dltBtn{
    background-color: red;
    margin-left: 20px;
}


.editBtn, .dltBtn:hover{
    cursor: pointer;
}


.detailText{
    margin-top: 7px;
}

.ownerText{
    margin-top: 1px;
}

/* Review Style */
.reviewForm{
    display: flex;
    flex-direction: column;
}

.reviewForm textarea{
    margin-top: 10px;
    width: 97%;
    border-radius: 15px;
    padding: 10px 10px;
    outline-color: rgb(56, 56, 204);
    font-size: 18px;
}


.reviewForm button{
    width: 90px;
    padding: 5px 0px;
    background-color: purple;
    color: white;
    font-size: 19px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
}

.reviewForm button:hover{
    cursor: pointer;
}



/* Valid and invalid text style */
.inputInvalidText{
    color: red;
    font-size: 13px;
    display: none;
    position: absolute;
    left: 3px;
    top: 135%;
}


.inputValidText{
    color:  #38d001;
    font-size: 13px;
    display: none;
    position: absolute;
    left: 3px;
    top: 135%;
}

.textareaValidText{
    color: #38d001;
    font-size: 13px;
    display: none;
    position: absolute;
    left: 3px;
    bottom: -13%;
}

.textareaInvalidText{
    color: red;
    font-size: 13px; 
    display: none;
    position: absolute;
    left: 3px;
    bottom: -13%;
}


/* Icon edits */

.fa-circle-exclamation{
    visibility: hidden;
    position: absolute;
    top: 80%;
    right: 10px;
}

.fa-circle-exclamation-textarea{
    visibility: hidden;
    position: absolute;
    top: 35%;
    right: 10px;
}



.fa-check-textarea{
    visibility: hidden;
    position: absolute;
    top: 35%;
    right: 10px;
}

/* review styling */
.reviewContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.review{
    width: 28vw;
    padding: 5px;
    border: 1px solid rgb(114, 108, 108);
    border-radius: 7px;
}



.reviewBtnForm{
    margin-top: 5px;
    margin-bottom: 5px;
}

.deleteBtn{
    background-color: rgb(59, 58, 58);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.deleteBtn:hover{
    cursor: pointer;
}



/* Media Queries */

@media ((min-width: 900px) and (max-width: 1200px)){
    .imageBox{
        width: 100%;
    }
}

@media ((min-width: 700px) and (max-width: 900px)){
    .detailsBox, h2{
        width: 80%;
    }
    .imageBox{
        width: 100%;
    }
    .reviewUser, label{
        font-size: 2.4vw;
    }
    .reviewComment{
        font-size: 2.1vw;
    }
    .AllReviewText, h3{
        font-size: 2.7vw;
    }
    .ownerText, .detailText{
        font-size: 2.4vw;
    }
}

@media ((min-width: 550px) and (max-width: 700px)){
    .detailsBox, h2{
        width: 90%;
    }
    .imageBox{
        width: 100%;
    }
    .review{
        width: 80vw;
    }
    .reviewBtnForm button{
        width: 10vw;
        height: auto;
        font-size: 2.2vw;
    }
    .reviewUser, label{
        font-size: 2.9vw;
    }
    .reviewComment{
        font-size: 2.6vw;
    }
    .AllReviewText, h3{
        font-size: 3.2vw;
    }
    .ownerText, .detailText{
        font-size: 2.9vw;
    }
    h2{
        font-size: 5vw;
    }
}

@media ((min-width: 400px) and (max-width: 550px)){
    .detailsBox, h2{
        width: 90%;
    }
    .imageBox{
        width: 100%;
        height: auto;
        aspect-ratio: 1/0.6;
    }
    .review{
        width: 80vw;
    }
    .editBtn, .dltBtn, .reviewForm button{
        width: 19vw;
        height: auto;
        aspect-ratio: 1/0.2;
        font-size: 3.5vw;
    }
    .reviewBtnForm button{
        width: 15vw;
        height: auto;
        font-size: 3vw;
    }
    .reviewUser, label{
        font-size: 3.6vw;
    }
    .reviewComment{
        font-size: 3.2vw;
    }
    .AllReviewText, h3{
        font-size: 4vw;
    }
    .ownerText, .detailText{
        font-size: 3.4w;
    }
    h2{
        font-size: 5vw;
    }
    .ownerText, .detailText{
        font-size: 3.2vw;
    }
}

@media ((max-width: 400px)){
    .detailsBox, h2{
        width: 93%;
    }
    .imageBox{
        width: 100%;
        height: auto;
        aspect-ratio: 1/0.6;
    }
    .review{
        width: 80vw;
    }
    .editBtn, .dltBtn, .reviewForm button{
        width: 20vw;
        height: auto;
        aspect-ratio: 1/0.2;
        font-size: 4vw;
    }
    .reviewBtnForm button{
        width: 17vw;
        height: auto;
        font-size: 3.5vw;
    }
    .reviewUser, label{
        font-size: 3.9vw;
    }
    .reviewComment{
        font-size: 3.5vw;
    }
    .AllReviewText, h3{
        font-size: 4.3vw;
    }
    .ownerText, .detailText{
        font-size: 3.7w;
    }
    h2{
        font-size: 5vw;
    }
    .ownerText, .detailText{
        font-size: 3.5vw;
    }
    .reviewForm textarea{
        width: 90%;
    }
}